{% extends 'base1.html' %}

{% block content %}

<div class="cont-dash">
    <div class="left-side">
        <div class="info">
            <h2>{{ user.username }}!</h2>
            <p>Email: {{ user.email }}</p>
            <p>Phone: {{ user.phone_number|default:"Not provided" }}</p>
            <p>Address: {{ user.address|default:"Not provided" }}</p>
        </div>
        <div class="logs">
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
        
    </div>
    
    <div class="container mt-5">
        <h2>Welcome, {{ user.username }}!</h2>
    </div>
</div>
{% endblock %}
