/*body {
    background: url("../images/food-bg1.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}*/


.overlay {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
.content {
    position: relative;
    z-index: 2;
}*/

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.content {
    position: relative; /* Ensure content is above the video */
    z-index: 1;
    text-align: center;
    color: white;
    padding: 20px;
    top: 10rem;
}

.lo{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
